
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link
      rel="shortcut icon"
      type="image/x-icon"
      src="static/img/bigthree.png">
<title>Big-three Robot</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>
</head>
<body>
<link rel="stylesheet" type="text/css" href="static/css/dog.css">
<link rel="stylesheet" type="text/css" href="static/css/chatbox.css">
<link rel="stylesheet" type="text/css" href="static/css/chat.css">
<div class='left'>
  <div class='cat'>
    <div class='ears1'></div>
    <div class='head1'>
      <div class='eyes1'></div>
      <div class='nose1'></div>
    </div>
    <div class='body1'>
      <div class='left-paw1'></div>
      <div class='right-paw1'></div>
    </div>
    <div class='tail1'></div>
    <div class='PRlaptop'>
      <div class='PRscreen'></div>
      <div class='PRkeyboard'></div>
    </div>
  </div>
</div>
<div class='right'>
  <div class='dog'>
    <div class='ears2'></div>
    <div class='head2'>
      <div class='eyes2'></div>
      <div class='nose2'></div>
    </div>
    <div class='body2'>
      <div class='left-paw2'></div>
      <div class='right-paw2'></div>
    </div>
    <div class='tail2'></div>
    <div class='ORlaptop'>
      <div class='ORscreen'></div>
      <div class='ORkeyboard'></div>
    </div>
  </div>
</div>
  <div class='chatbox'>
    <center>
      <h1>
        <img
          src="static/img/bigthree.png"
          alt="Big-three Robot"
          style="width:40px;height:40px;"
        />  Your Personal Chat Robot
      </h1>
    </center>
    <h3>
      <p>
        Like this? ❤️ Collaborate with us!
      </p>
    </h3>
    <div class="box"></div>
    <div class="boxed">
      <img
            src="static/img/gost.png"
            alt="Big-three"
            style="width:40px;height:40px;"
          />
            <span class="slogon">你好，我是三宝机器人，有什么烦心事就和我说吧！❤️</span>
        <div id="chatbox">
          <p class="botText">

          </p>
        </div>
        <div id="userInput">
          <input id="textInput" type="text" name="msg" placeholder="Type here" />
        </div>
    </div>
  </div>
</body>
 <script src="static/js/chatbox.js"></script>
</html>
